<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spring MVC Security Quickstart</title>
</head>

<div class="nav-container mb-3" th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-md-block">

                    <!-- Login button: show if NOT authenticated -->
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <form th:action="@{/login}" method="GET">
                            <input type="submit" id="qsLoginBtn" class="btn btn-primary btn-margin" value="Login"/>
                        </form>
                    </li>
                    <!-- / Login button -->

                    <li th:if="${profile}" sec:authorize="isAuthenticated()" class="nav-item inline-elems">
                        <a class="nav-link" href="#">
                            <!-- Profile image should be set to the profile picture from the id token -->
                            <img th:src="${profile.get('picture').asString()}" alt="Profile picture"
                                 class="nav-user-profile rounded-circle" width="50"/>
                        </a>

                        <a id="qsLogoutBtn" th:href="@{/logout}">
                            <i class="fas fa-power-off mr-3"></i> Log out
                        </a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</html>